
  <!-- include the template layout -->
  <%- include ('views/layouts/layout.ejs'); %>

  <!-- the body tag for the layout -->
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <% if (isUserLoggedIn) { %>
              <li role="presentation"><a href="/logout">Logout</a></li>
            <% } else { %>
              <li role="presentation"><a href="/login">Login</a></li>
              <li role="presentation"><a href="/signup">Signup</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">Where's It At?</h3>
      </div>

      <div class="jumbotron">
        <p><b>Have you ever</b> needed something at a particular moment, only to discover you have lost or "misplaced" the item?</p>
        <p>
          However, if you had a description, or a picture of where it's at, you'd be all set. 
        </p>

        <p>
          Welcome to Where's It At, an online based inventory system containing pictures, descriptions, and names of your personal belongings that need to be stored safely for an extended period of time. We're here <b>to ensure you are never again frustrated</b> when trying to find an item. 
        </p>
        <a href="/signup">Click here to secure your personal belongings.</a>
      </div>

      <footer class="footer">
        <p>&copy; 2017 WheresItAt, Inc.</p>
      </footer>

    </div> <!-- /container -->

