
  <!-- include the template layout -->
  <% include layouts/layout.ejs %>

  <!-- the body tag for the layout -->
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Where's it at</h3>
      </div>
      <h3 align="center">Making sure you don't "misplace" anything.</h3>
      <div class="jumbotron">
        <h3>Login:</h3>
        <form action="/login" method="post">
          Email:
          <input type="text" id="emailInput" name="email" class="form-control">
          Password:
          <input type="text" id="passwordInput" name="password" class="form-control">
          <input type="submit" id="loginButton" class="form-control">
        </form>
      </div>


      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

<script src="./javascripts/login.js"></script>
