
  <!-- include the template layout -->
  <% include layouts/layout.ejs %>

  <!-- the body tag for the layout -->
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">RateMyCourse</h3>
      </div>

      <div class="jumbotron">
        <h3><%= itemname %> is now secure.</h3>
        <h3>Secure an item below:</h3>
        <form method="post" id="uploadForm">
          Upload a picture of the item:
          <input type="file" id="itemPicture" name="itemPicture">
          Name of item:
          <input type="text" id="itemName" name="itemName" class="form-control">
          Description of location:
          <textarea id="itemDescription" class="form-control" rows="5"></textarea>
          <input type="submit" id="loginButton" class="form-control">
        </form>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

<script src="./javascripts/itemSecured.js"></script>
