
  <!-- include the template layout -->
  <%- include ('layouts/layout.ejs'); %>

  <!-- the body tag for the layout -->
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
            <li role="presentation"><a href="/userItems">Your items</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Where's It At?</h3>
      </div>

      <div class="jumbotron">
        <h3><%= jumboHeading %></h3>
        <form action="/itemSecured" enctype="multipart/form-data" method="post" id="uploadForm" name="uploadForm">
          Upload a picture of the item:
          <input type="file" id="itemPicture" name="itemPicture">
          Name of item:
          <input type="text" id="itemName" name="itemName" class="form-control">
          Description of location:
          <textarea id="itemDescription" name="itemDescription" class="form-control" rows="5" form="uploadForm"></textarea>
          <input type="submit" id="submitBtn" class="form-control" value="Submit">
        </form>
      </div>
      
      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

<script src="./javascripts/profilePage.js"></script>
